@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;600;800&family=Open+Sans:wght@300;400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Jost", sans-serif;
  }

#formReserva {
    padding-left: 50px;
}

label, input {
    display: block;
    margin-top: 10px;

}

input {
    margin-bottom: 20px;
    height: 25px;
    border-radius: 3px;
    border: 0.5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

#calcularPrecio {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #5468ff;
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Jost", sans-serif;
    font-style: normal;
    border: none;
}

#calcularPrecio:active {
    background-color: white;
    color: #5468ff;
}

#desayuno {
    display: inline;
}

#confirmarReserva {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #ccc;
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: #666; 
    font-family: "Jost", sans-serif;
    font-style: normal;
    cursor: not-allowed; 
    border: none;
}

#confirmarReserva:enabled {
    background-color: #5468ff;
    color: white;
    cursor: pointer;
}